# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    database_path: "%kernel.root_dir%/data.db3"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    hook_user_password: changemepls04hg2@u8isd

    incident.notifications.file.message_path: /tmp

    incident.notifications.email.transport.server: localhost
    incident.notifications.email.transport.port: 25
    incident.notifications.email.transport.security: null
    incident.notifications.email.transport.username: ~
    incident.notifications.email.transport.password: ~
    incident.notifications.email.from: healthcheck@example.com
    incident.notifications.email.from_name: Health Check

    incident.notifications.request.auth.token: null
    incident.notifications.request.auth.username: null
    incident.notifications.request.auth.password: null
    incident.notifications.request.resource_url: /incidents

    incident.notifications.subjects:
        file: ~
        request: ~
        email: ~
